.recado_div{
    margin-top:70px;
    .excl-recado-success, .excl-recado-danger, .criar-recado-success, .criar-recado-danger{
        display:none;
    }
}
.btn-rec{
    background: none;
    border:none;
}
